{% extends 'base.html.twig' %}

{% block title %}
    Create a new serie | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        todo : formulaire de création de série
    </div>
{% endblock %}